extends user_layout
block user_content
  .flex
    a(href='/users')
      h1.text-blue-600.underline.mr-2 Users/
    h1= `${user.firstName} ${user.lastName}` 

  .flex.m-2.float-right
    a.rounded-r-none.px-4.py-2.rounded.bg-yellow-100.text-yellow-700.border(href=`/users/${user.id}/edit`)
      .flex.leading-5 Edit
    a.rounded-l-none.px-4.py-2.rounded.bg-red-100.text-red-700.border(href=`/users/${user.id}/delete`)
      .flex.leading-5 Delete

  br

  form.mt-5

    .mb-6
      label.block.mb-2.text-sm.text-gray-600(for='id') User Id
      input#id.w-full.px-3.py-2.placeholder-gray-300.border.border-gray-300.rounded-md.text-gray-500(type='text' name='id' required  readonly value=`${user.id}`)

    .mb-6
      label.block.mb-2.text-sm.text-gray-600(for='firstName') First Name
      input#firstName.w-full.px-3.py-2.placeholder-gray-300.border.border-gray-300.rounded-md.text-gray-500(type='text' name='firstName' required readonly value=`${user.firstName}`)

    .mb-6
      label.block.mb-2.text-sm.text-gray-600(for='lastName') Last Name
      input#lastName.w-full.px-3.py-2.placeholder-gray-300.border.border-gray-300.rounded-md.text-gray-500(type='text' name='lastName' required readonly value=`${user.lastName}`)

    .mb-6
      label.block.mb-2.text-sm.text-gray-600(for='email') email 
      input#email.w-full.px-3.py-2.placeholder-gray-300.border.border-gray-300.rounded-md.text-gray-500(type='email' name='email'  required readonly value=`${user.email}`)

    .mb-6
      label.block.mb-2.text-sm.text-gray-600(for='updatedAt') Last updated 
      input#email.w-full.px-3.py-2.placeholder-gray-300.border.border-gray-300.rounded-md.text-gray-500(type='email' name='email' required readonly value=`${user.updatedAt}`)

    .mb-6
      label.block.mb-2.text-sm.text-gray-600(for='createdAt') Created at 
      input#email.w-full.px-3.py-2.placeholder-gray-300.border.border-gray-300.rounded-md.text-gray-500(type='email' name='email' required readonly value=`${user.createdAt}`)

block debug
  p= debugMessage